html {
  font-family: Helvetica, serif;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.image {
  background-image: url("./images/the-flatiron-building.png");
  background-position: center;
  background-size: cover;
}
p {
  font-size: 14px;
}
.menu p {
  font-size: 18px;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
.NY {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.bottom {
  background-color: dimgray;
  color: white;
  text-align: left;
}
#logo {
  font-size: 11px;
}
a {
  color: white;
}
